doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title atributos
body
	h1 atributos
	a(href="http://www.google.com", target="_blank") Ir a Google
	| &nbsp; | &nbsp;
	a(
		class="link",
		href="http://youtube.com",
		target="_blank"
	) Ir a Youtube

