doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title Atributos variables
body
	- var clases = ['yellow', 'blue', 'red']
	- var id = "principal01"
	h1(id=iden, class=clases) Atributos variable 

	