doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title condicionales
	body
		h1 Condicionales
		- var autorizacion = false
		article
			if autorizacion
				h3 autorizado
				img(src="imgs/images.png")		
			else
				h3 no autorizado
				img(src="imgs/descarga.png")
	